html, body {
    height: 100%;
}

div#metadata {
    height: 100%;
    overflow: auto;
}

div#photo-view {
  width: 90%;
  height: 90vh;
  background: none;
}

div#photo-modal {
    padding-top: 10px;
}

div#photo-frame {
  height: 100%;
  text-align: right;
}

div#photo-view img {
 width: auto;
 height: 100%;
}

div#photo-view img.landscape {
 width: 100%;
 height: auto;
}

div#photo-view img.portrait {
 width: auto;
 height: 100%;
}


body.saving {
  cursor: wait !important;
}

span.keyword:hover {
  cursor: pointer;
}

span.keyword:hover:after {
  content: ' x';
  color: #ccc;
}