html, body {
    height: 100%;
}

div#metadata {
    max-height: 100%;
    overflow: auto;
}

div#photo-view {
  width: 90%;
  height: 80vh;
}

div#photo-frame {
  height: 100%
}

div#photo-view img {
 width: 100%;
 height: 100%;
}

div#photo-view img.landscape {
 width: 100%;
 height: auto;
}

div#photo-view img.portrait {
 width: auto;
 height: 100%;
}


body.saving {
  cursor: wait !important;
}

span.keyword:hover {
  cursor: pointer;
}

span.keyword:hover:after {
  content: ' x';
  color: #ccc;
}