html, body {
    height: 100%;
}

.thumbnail img {
    max-width: 160px;
    max-height: 160px;
}

div#metadata {
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
}

div#photo-view {
  text-align: center;
  width: 70%;
  height: 100%;
}

div#photo-modal {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0,0,0,.8);
}

div#photo-view img {
 width: auto;
 height: auto;
 max-width: 100%;
 max-height: 100%;
}

textarea#description {
  min-height: 5em !important;
  max-height: 20em !important;
}

body.saving {
  cursor: wait !important;
}

span.keyword {
  position: relative;
  margin-right: 12px !important;
  padding-right: 8px !important;
}

span.keyword:hover {
  cursor: pointer;
  padding-right: 20px !important;
  margin-right: 0 !important;
}

span.keyword:hover::after {
  content: ' x';
  color: #ccc;
  position: absolute;
  right: 5px;
}

div.controls {
    height: 100vh;
    overflow-x: visible;
    overflow-y: scroll;
}

.controls li {
    list-style-type: none;
}

.controls li.tag::before {
    content: '- '
}

.controls ul {
    padding-left: 0px;
}

li.tag.selected {
    font-weight: bold;
}

li.tag a {
    text-decoration: none;
}

.controls li.group::before {
    content: '> '
}

li.group {
  padding-top: 10px;
  cursor:pointer;
}

ul.tags {
  margin-left: 10px;
  margin-top: 10px;
}